SECRET_KEY=ims-secret-key-2025
DB_HOST=localhost
DB_USER=root
DB_PASS=Avj#2603
DB_NAME=ims_db
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=aruljose1101974@gmail.com
MAIL_PASSWORD=nnbu vlba vhmk xvkz