<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Management</title>
</head>
<body>
    <header>
        <h1>Class Management</h1>
    </header>
    <main>
        <section>
            <h2>Add New Class</h2>
            <form>
                <label for="Class Name"></label>
                <input type="text"
                        id="className"
                        name="className"
                        placeholder="Enter Class Name"
                        required
                        >

                        <button type="submit">
                            Add Class
                        </button>

            </form>
        </section>
    </main>
</body>
</html>